
<!--MAIN PAGE HERE-->
<div class="container recipe-list-detail">
    <!--PATH-->
    <div class="recipe-path" style="text-align: center">
        <ul class="flex">
            <li><a routerLink="/">Home</a></li>
            <li><i class="fa-solid fa-arrow-right"></i></li>
            <li><a routerLink="/recipe-list">Recipe List</a></li>
            <li><i class="fa-solid fa-arrow-right"></i></li>
            <li>Cupcake</li>
        </ul>
    </div>
    <!--CAKE CARD-->
    <div class="cake-card">
        <!--TITLE-->
        <div class="title-cake container row">
            <div class="col"></div>
            <div class="col-10">
                <h4>Cupcake</h4>
                <div class="line"></div>
                <p>Evoke the delicious charm of every season using cake designer our unique techniques and cake decorating ideas.</p>
            </div>
            <div class="col"></div>
        </div>
        <!--CAKE-CARD-->
        <div class="results-card row">
            <div class="col-4 cart-left">
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail">
                        <img src="assets/img/cup1.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">PEANUT BUTTER SHEET CAKE</p>
                    </a>
                    <p>This Peanut Butter Sheet Cake is a moist sheet cake topped with a gooey peanut butter glaze.
                        Peanut butter lovers, this is your dessert!</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail">
                        <img src="assets/img/cup2.jpg"/>
                    </a>
                    <p class="sma">Caket&Occasions</p>
                    <a routerLink="/detail">
                        <p class="med">BUTTER CREAM CAKE</p>
                    </a>
                    <p>Buttercream is the Twin Cities foremost cake shop specializing in stunning wedding cakes,
                        special occasion cakes, and dessert displays for all your special.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-6">
                    <a routerLink="/detail">
                        <img src="assets/img/cup3.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">DONUT</p>
                    </a>
                    <p>A doughnut or donut is a type of food made from leavened fried dough. It is prepared
                        in various forms as a sweet snack that can be homemade or purchased.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/search4.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">CREPE CAKE</p>
                    </a>
                    <p>A crepe cake is a no-bake cake consisting of layers of thin crepes brushed with a sweet
                        filling. Crepes, the star of this French dessert, are ultra-thin.</p>
                </div>
            </div>
            <div class="col-4 cart-center">
                <div class="cart-cake cart-lg-6">
                    <a routerLink="/detail">
                        <img src="assets/img/cup5.jpg"/>
                    </a>
                    <p class="sma">Cupcake</p>
                    <a routerLink="/detail">
                        <p class="med">CHOCOLATE MUFFINS</p>
                    </a>
                    <p>Chocolate muffins made with cocoa and chocolate chips are full of chocolaty goodness!
                        A little plain yogurt in the batter makes them super moist.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/cup6.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">NUTELLA COOKIE DOUGH CHEESECAKE</p>
                    </a>
                    <p>This cheesecake has all the best things. Crunchy cookie crust and delicious chocolate chip
                        cookie dough with light and fluffy nutella.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/cup7.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">CROISSANT</p>
                    </a>
                    <p>A croissant is a buttery, flaky, French viennoiserie pastry inspired by the shape of
                        the Austrian kipferl but using the French yeast-leavened laminated dough.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail">
                        <img src="assets/img/search8.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">PANNA COTTA</p>
                    </a>
                    <p>Panna cotta (Italian for "cooked cream") is an Italian dessert of sweetened cream thickened
                        with gelatin and molded. The cream may be aromatized with coffee, vanilla, or other flavorings.</p>
                </div>
            </div>
            <div class="col-4 cart-right">
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail">
                        <img src="assets/img/cup9.jpg"/>
                    </a>
                    <p class="sma">Cake&Seansons</p>
                    <a routerLink="/detail">
                        <p class="med">EARL GREY CAKE</p>
                    </a>
                    <p>This Earl Grey Cake is perfect for the tea lover in your life! Earl Grey infused cake layers
                        paired with a silky vanilla bean buttercream.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/cup10.jpg"/>
                    </a>
                    <p class="sma">Cake&Occasions</p>
                    <a routerLink="/detail">
                        <p class="med">CHOCOLATE</p>
                    </a>
                    <p>Chocolate is a food made from roasted and ground cacao seed kernels that is available
                        as a liquid, solid, or paste, either on its own or as a flavoring agent in other foods.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/cup11.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">PANOFFEE PIE</p>
                    </a>
                    <p>Tempus, tristique morbi scelerisque sed. Diam nec ut sed est sit in tortor. Blandit
                        consequat quisque vitae ornare diam netus tellus.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail">
                        <img src="assets/img/search12.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">CHEESE CAKE</p>
                    </a>
                    <p>Cheesecake is a sweet dessert consisting of one or more layers. The main, and thickest,
                        layer consists of a mixture of a soft, fresh cheese, eggs, and sugar.</p>
                </div>
            </div>
        </div>
        <div class="btn-center">
            <button type="submit" class="btn btn-lg btn-pr" onclick="alert('Loading...')">See More</button>
        </div>
    </div>
</div>
