<!--SHOWCASE-->
<div class="con-show">
  <img src="assets/img/contact.jpg"/>
</div>
<!--CONTACT-->
<div class="contact">
  <h3>Contact Us</h3>
  <div class="contact-inner row">
    <div class="col-7 input-form">
      <form onsubmit="alert('Thank you for your message!! We will contact you soon.')">
        <input type="text" placeholder="Name"><br>
        <input type="email" placeholder="Email address (*)" required><br>
        <input type="text" placeholder="Subject"><br>
        <label>Message (*)</label>
        <textarea rows="6" required></textarea>
        <div class="btn-center">
          <button type="submit" class="btn btn-lg btn-pr">Sent it</button>
        </div>
      </form>
    </div>
    <div class="col-5 input-content">
      <p class="med pri">Let's Connect With Us</p>
      <p class="contact-content">Email us with any question in any time if you want. We should be happy to answer
        your questions and set up a meeting with you.</p>
      <span class="med">Thefiveseasonscake@gmail.com</span>
    </div>
  </div>
</div>
<!--FOLLOW-->
<div class="container follow-us">
  <div class="row follow-content">
    <div class="col-6">
      <p class="pri med">Let's Connect With Us</p>
      <p class="fl-ct">Email us with any question in any time if you want. We should be happy to answer
        your questions and set up a meeting with you.</p>
    </div>
  </div>
  <div class="row follow-img">
    <div class="col-3 list-box img-left">
      <img src="assets/img/con1.jpg"/>
    </div>
    <div class="col-3 list-box img-cen">
      <img src="assets/img/con2.jpg"/>
    </div>
    <div class="col-3 list-box img-cen">
      <img src="assets/img/con3.jpg"/>
    </div>
    <div class="col-3 list-box img-right">
      <img src="assets/img/con4.jpg"/>
    </div>
  </div>

<!--  FQAs-->
  <div class="container">
    <!--FIND QUESTION-->
    <div class="fqa">
      <div class="title-qa">
        <p class="med pri">SEARCH FOR FQAS</p>
        <h5>WHAT DO YOU HAVE A QUESTION ABOUT</h5>
      </div>
      <div>
        <ul>
          <li><a routerLink="/#">View all</a></li>
          <li><a routerLink="/#">Equipment and Supplies</a></li>
          <li><a routerLink="/#">Storing & Preserving</a></li>
          <li><a routerLink="/#">Baking</a></li>
          <li><a routerLink="/#">Misc</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a routerLink="/#">Decorating & Assembling</a></li>
          <li><a routerLink="/#">Ingredients</a></li>
          <li><a routerLink="/#">Equipment and Supplies</a></li>
          <li><a routerLink="/#">Frosting</a></li>
          <li><a routerLink="/#">Personal</a></li>
        </ul>
      </div>
    </div>
    <!--ALL Q&A-->
    <div class="row answer">
      <div class="col-2"></div>
      <div class="col-8 all-qa">
        <div class="qa">
          <div class="accordion">
            <input type="checkbox" name="collapse" id="handle1" checked="checked">
            <p class="sma pri">BAKING</p>
            <div class="handle qa-title ques">
              <h6><label for="handle1">
                How are you so fit and yet baking cakes all the time?! I couldn’t handle the temptation!</label></h6>
            </div>
            <div class="content">
              <p>I focus on balance. I love baking and eating (all types of food) but I also love feeling
                healthy and strong. I never restrict anything in my eating and focus on balance, mindful eating.
                Being active is fun for me. I don’t look at a workout as something I have to do, I do it
                because I want to. I find workouts and activities that I enjoy and usually do them with friends.
                I love the workout plans from @fitmamametta and the HIIT workout from @high.fitness.
                I also run, do Pilates reformer, and spin classes. Variety is key! I wrote a post about
                this one time, you can find it below!</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse2" id="handle2">
            <p class="sma pri">BAKING</p>
            <div class="handle qa-title ques">
              <h6><label for="handle2">
                DO I REALLY NEED PARCHMENT PAPER?</label></h6>
            </div>
            <div class="content">
              <p>Parchment paper is an essential baking tool because it creates a nonstick surface. If
                you want cakes to release cleanly, brownies to lift out of the pan, and cookies to slide
                off the sheet, parchment paper is a must. It can be a little pricey, but it’s also
                available in pretty much every baking aisle and is 100% worth it—way better than having
                a cake that you worked so hard on refuse to come out of the pan.</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse3" id="handle3">
            <p class="sma pri">PERSONAL</p>
            <div class="handle qa-title ques">
              <h6><label for="handle3">
                When did you get into fitness? I have little kids and I’m so exhausted, but I want to be fit!</label></h6>
            </div>
            <div class="content">
              <p>Yes I do sport regulary every day I go jogging for 20 minutes. Since I have started to
                go jogging my brain works better and I also started to look better. Next time you’re
                feeling down, put your trainers on and get sweating. It might not be easy but I promise
                you will feel so much better once you have finished!</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse4" id="handle4">
            <p class="sma pri">PERSONAL</p>
            <div class="handle qa-title ques">
              <h6><label for="handle4">
                How often do you eat cake?</label></h6>
            </div>
            <div class="content">
              <p>I eat it every time I make it. I never get sick of cake. Ever!</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse5" id="handle5">
            <p class="sma pri">PERSONAL</p>
            <div class="handle qa-title ques">
              <h6><label for="handle5">
                How did you become so good at what you do? Did it take a lot of practice or were
                you a natural?</label></h6>
            </div>
            <div class="content">
              <p>Take a moment to take that in. You noticed the absence of something, which is equally
                noteworthy and important as noticing the presence of something.</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse6" id="handle6">
            <p class="sma pri">EQUIPMENT & SUPPLIES</p>
            <div class="handle qa-title ques">
              <h6><label for="handle6">
                Do I need to buy a Kitchen Aid or will a hand mixer work for cake batter and
                buttercream?</label></h6>
            </div>
            <div class="content">
              <p>Best case scenario is to own both. They definitely both have a time and a place in the
                kitchen. If you aren’t planning to do heavy duty mixing, making bread, or running a
                small business from your kitchen, you can probably get away with owning a hand mixer
                until your budget allows for you to invest in a stand mixer.</p>
            </div>
          </div>
          <div class="line"></div>

          <div class="accordion">
            <input type="checkbox" name="collapse7" id="handle7">
            <p class="sma pri">MISC</p>
            <div class="handle qa-title ques">
              <h6><label for="handle7">
                Can any of your recipes be converted into cupcakes?</label></h6>
            </div>
            <div class="content">
              <p>You can adapt any cake recipe to a cupcake, no ingredient adjustments required.
                All you need to do is appropriately adjust the time and temperature.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
