<!--MAIN PAGE-->
<div class="search-page">
    <!--BANNER-->
    <div class="banner">
        <h1 class="hi">Search For Everything</h1>
    </div>
    <div class="container">
        <!--SEASRCH BAR-->
        <div class="search-sec row">
            <div class="col-3"></div>
            <div class="search-bar row col-6">
                <div class="search">
                    <input type="text" placeholder="Search text">
                    <span>
                        <a routerLink="/search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <!--TOP RESULTS-->
        <div class="top-results">
            <h4 class="sec">Top Results</h4>
            <div class="results-card row">
                <div class="cart-cake cart-md col-3 cart-left">
                    <a routerLink="/detail">
                        <img src="assets/img/top-search1.jpg"/>
                    </a>
                    <p class="sma">Cake&Seasons</p>
                    <a routerLink="/detail">
                        <p class="med">EARL GREY CAKE</p>
                    </a>
                    <span>This Earl Grey Cake is perfect for the tea lover in your life! Earl Grey infused cake layers
                        paired with a silky vanilla bean buttercream.</span>
                </div>
                <div class="cart-cake cart-md col-3 cart-center">
                    <a routerLink="/detail">
                        <img src="assets/img/top-search2.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">MATCHA CAKE</p>
                    </a>
                    <span>This matcha cake is a light and fluffy sponge cake flavored with matcha power. It's a
                        delicious Japanese cake that soft, fluffy, and light as air!</span>
                </div>
                <div class="cart-cake cart-md col-3 cart-center">
                    <a routerLink="/detail">
                        <img src="assets/img/top-search3.jpg"/>
                    </a>
                    <p class="sma">Cake&Seasons</p>
                    <a routerLink="/detail">
                        <p class="med">PUMPKIN PIE</p>
                    </a>
                    <span>The one and only pumpkin pie! We make this dessert the perfect ending to a Thanksgiving feast.
                        Garnish as desired. Refrigerate leftovers.</span>
                </div>
                <div class="cart-cake cart-md col-3 cart-right">
                    <a routerLink="/detail">
                        <img src="assets/img/top-search4.jpg"/>
                    </a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail">
                        <p class="med">NUTELLA CHEESECAKE</p>
                    </a>
                    <span>This Nutella Cheesecake tastes like it came from a gourmet bakery. It’s decadent, creamy, and
                        full of Nutella flavor. It's the best!</span>
                </div>
            </div>
        </div>
        <!--RELATED RESULT-->
        <div class="related-result">
            <h4 class="sec">Related Results</h4>
            <div class="results-card row">
                <div class="col-4 cart-left">
                    <div class="cart-cake cart-lg-8">
                        <a routerLink="/detail">
                            <img src="assets/img/search1.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">PEANUT BUTTER SHEET CAKE</p>
                        </a>
                        <p>This Peanut Butter Sheet Cake is a moist sheet cake topped with a gooey peanut butter glaze.
                            Peanut butter lovers, this is your dessert!</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-8">
                        <a routerLink="/detail">
                            <img src="assets/img/search2.jpg"/>
                        </a>
                        <p class="sma">Caket&Occasions</p>
                        <a routerLink="/detail">
                            <p class="med">BUTTER CREAM CAKE</p>
                        </a>
                        <p>Buttercream is the Twin Cities foremost cake shop specializing in stunning wedding cakes,
                            special occasion cakes, and dessert displays for all your special.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-6">
                        <a routerLink="/detail">
                            <img src="assets/img/search3.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">DONUT</p>
                        </a>
                        <p>A doughnut or donut is a type of food made from leavened fried dough. It is prepared
                            in various forms as a sweet snack that can be homemade or purchased.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                            <img src="assets/img/search4.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">CREPE CAKE</p>
                        </a>
                        <p>A crepe cake is a no-bake cake consisting of layers of thin crepes brushed with a sweet
                            filling. Crepes, the star of this French dessert, are ultra-thin.</p>
                    </div>
                </div>
                <div class="col-4 cart-center">
                    <div class="cart-cake cart-lg-6">
                        <a routerLink="/detail">
                            <img src="assets/img/search5.jpg"/>
                        </a>
                        <p class="sma">Cupcake</p>
                        <a routerLink="/detail">
                            <p class="med">CHOCOLATE MUFFINS</p>
                        </a>
                        <p>Chocolate muffins made with cocoa and chocolate chips are full of chocolaty goodness!
                            A little plain yogurt in the batter makes them super moist.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                        <img src="assets/img/search6.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">NUTELLA COOKIE DOUGH CHEESECAKE</p>
                        </a>
                        <p>This cheesecake has all the best things. Crunchy cookie crust and delicious chocolate chip
                            cookie dough with light and fluffy nutella.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                            <img src="assets/img/search7.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">CROISSANT</p>
                        </a>
                        <p>A croissant is a buttery, flaky, French viennoiserie pastry inspired by the shape of
                            the Austrian kipferl but using the French yeast-leavened laminated dough.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-8">
                        <a routerLink="/detail">
                            <img src="assets/img/search8.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">PANNA COTTA</p>
                        </a>
                        <p>Panna cotta (Italian for "cooked cream") is an Italian dessert of sweetened cream thickened
                            with gelatin and molded. The cream may be aromatized with coffee, vanilla, or other flavorings.</p>
                    </div>
                </div>
                <div class="col-4 cart-right">
                    <div class="cart-cake cart-lg-8">
                        <a routerLink="/detail">
                            <img src="assets/img/search9.jpg"/>
                        </a>
                        <p class="sma">Cake&Seansons</p>
                        <a routerLink="/detail">
                            <p class="med">EARL GREY CAKE</p>
                        </a>
                        <p>This Earl Grey Cake is perfect for the tea lover in your life! Earl Grey infused cake layers
                            paired with a silky vanilla bean buttercream.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                            <img src="assets/img/search10.jpg"/>
                        </a>
                        <p class="sma">Cake&Occasions</p>
                        <a routerLink="/detail">
                            <p class="med">CHOCOLATE</p>
                        </a>
                        <p>Chocolate is a food made from roasted and ground cacao seed kernels that is available
                            as a liquid, solid, or paste, either on its own or as a flavoring agent in other foods.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                            <img src="assets/img/search11.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">PANOFFEE PIE</p>
                        </a>
                        <p>Tempus, tristique morbi scelerisque sed. Diam nec ut sed est sit in tortor. Blandit
                            consequat quisque vitae ornare diam netus tellus.</p>
                    </div>
                    <div class="cart-line line"></div>
                    <div class="cart-cake cart-lg-7">
                        <a routerLink="/detail">
                            <img src="assets/img/search12.jpg"/>
                        </a>
                        <p class="sma">Dessert&Vegan</p>
                        <a routerLink="/detail">
                            <p class="med">CHEESE CAKE</p>
                        </a>
                        <p>Cheesecake is a sweet dessert consisting of one or more layers. The main, and thickest,
                            layer consists of a mixture of a soft, fresh cheese, eggs, and sugar.</p>
                    </div>
                </div>
            </div>
            <div class="btn-center">
                <button type="submit" class="btn btn-lg btn-pr" onclick="alert('Loading...')">See More</button>
            </div>
        </div>
    </div>
</div>
