<div class="banner">
    <h1 class="hi">Hi There~</h1>
    <h5>Welcome To Our Dream Place</h5>
</div>
<div class="container">
    <!--DEAR-->
    <div class="dear">
        <div class="row dear-top">
            <div class="col"></div>
            <div class="col-3"></div>
            <div class="dear-glad col-8">
                <h4>Glad To See You Here</h4>
            </div>
        </div>
        <div class="row dear-bottom">
            <div class="col"></div>
            <div class="dear-info col-3">
                <p class="from pri"><span>From</span>TFSC Team</p>
                <p class="to pri"><span>To</span>Foodlovers all over the world</p>
            </div>
            <div class="dear-content col-8">
                <span class="med">Dear Foodlovers</span>
                <p class="dear-ct-n1">Every person is unique, and why shouldn't their cake be? CAKE LOVERS
                    are here to bake your uniqueness into reality with beautiful designs and exceptional taste
                    that leaves your mouth watering🤤 and yawning for more. If you want a taste of our spectacular
                    full flavoured cakes for special occasions, Visit us NOW!!!
                </p>
                <p>The Five-Season Cake is a community of bakers and cake lovers. If you’re looking for beautiful cake
                    inspiration, projects, tutorials and recipes -- you’ve come to the right place. Find cake
                    recipes, DIY projects, tutorials and inspiration for both beginners and advanced bakers.</p>
            </div>
        </div>
    </div>
    <!--WHO WE ARE-->
    <div class="row who">
        <div class="col-6 who-left">
            <img src="assets/img/test1.jpg"/>
        </div>
        <div class="col-8 who-right row">
            <div class="col-6 who-img2">
                <img src="assets/img/test2.png"/>
            </div>
            <div class="col-6 who-content">
                <span class="pri">About Our Blog</span>
                <h4>Who We Are</h4>
                <p class="pg1">We're 4 girls, Founders of The Five-Season Cake blog, a baking website celebrating cake
                    since 2022.</p>
                <p> We long ago ditched box mixes in pursuit of melt-in-your-mouth, to-die-for flavor
                    combinations, fillings and textures. We believe cake must be decadent, life-changing and worthy
                    of celebration!</p>
            </div>
        </div>
    </div>
    <!--WHAT WE DO-->
    <div class="row what">
        <div class="col-3 what-down">
            <div class="intro">
                <h4>What We Do</h4>
                <p>The Five-Season Cake is a community of bakers, cake makers, and friends sharing everything
                    and anything you’ve ever wanted to know about cake.</p>
            </div>
        </div>
        <div class="col-3 what-up">
            <div class="cart-intro">
                <img src="assets/img/what01.jpg"/>
                <h6 class="pri">Making Our Dream</h6>
                <p class="sma">“The surest way to make your dreams come true is to live them.” “Dreams don't work
                    unless you take action.”</p>
            </div>
        </div>
        <div class="col-3 what-down down-cart">
            <div class="cart-intro">
                <img src="assets/img/what02.jpg"/>
                <h6 class="pri">Share Passion And Happiness</h6>
                <p class="sma">Passion is the driving force behind success and happiness that
                    pushes you to reach your highest potential.</p>
            </div>
        </div>
        <div class="col-3 what-up">
            <div class="cart-intro">
                <img src="assets/img/what03.jpg"/>
                <h6 class="pri">Connect Foodlovers</h6>
                <p class="sma">"Sharing food with another human is an intimate act that should not be indulged
                    in lightly." ― M.F.K. Fisher</p>
            </div>
        </div>
    </div>
    <!--GALLERY-->
    <div class="gallery">
        <h4>Our Cake Design Inspiration</h4>
        <p class="sma">Cake design inspiration can be found anywhere! Once you begin decorating cakes you'll start looking at
            the world in a different way - what would normally be just a magazine advertisement for perfume,
            has now become the color palate for your next cake!</p>
        <div class="inner-gallery row">
            <div class="list-box col-4 gallery-left">
                <img src="assets/img/gallery01.jpg">
            </div>
            <div class="list-box col-4 gallery-center">
                <div class="gallery-top">
                    <img src="assets/img/gallery02.jpg"/>
                </div>
                <div class="list-box gallery-bottom">
                    <img src="assets/img/gallery03.jpg"/>
                </div>
            </div>
            <div class="list-box col-4 gallery-right">
                <img src="assets/img/gallery04.jpg"/>
            </div>
        </div>
    </div>
    <!--CONTACT AND ASK A QUESTION-->
    <div class="contact">
        <div class="contact-inner row">
            <div class="col-7 input-form">
                <input type="text" placeholder="Name"><br>
                <input type="email" placeholder="Email address"><br>
                <input type="text" placeholder="Subject"><br>
                <label>Message</label>
                <textarea rows="6"></textarea>
                <div class="btn-center">
                    <button type="submit" class="btn btn-lg btn-pr">Ask Question</button>
                </div>
            </div>
            <div class="col-5 input-content">
                <p class="med pri">ASK A NEW QUESTION</p>
                <h5>HAVE A QUESTION YOU DON'T SEE BELOW?</h5>
                <p class="contact-content">Enter your information and give we a question and I will reply to you as soon as impossible.</p>
                <span class="med">Thefiveseasonscake@gmail.com</span>
            </div>
        </div>
    </div>
</div>