<header class="section top-page">
  <div class="container row">
    <div class="top-page-left">
      <ul class="flex">
        <li><a href="https://www.facebook.com/thefiveseasoncake"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
        <li class="tpl2"><a href="https://www.instagram.com/thefiveseasoncake"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
        <li><a href="https://www.pinterest.com/thefiveseasoncake"><i class="fa-brands fa-pinterest fa-xl"></i></a></li>
      </ul>
    </div>
    <div class="logo">
      <img src="assets/img/logo.png"/>
    </div>
    <div class="top-page-right">
      <a routerLink="/search"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a>
    </div>
  </div>
  <div class="line"></div>
</header>

<nav class="section header">
  <div class="container">
    <div class="menu">
      <ul class="flex">
        <li class="med"><a routerLink="/">HOME</a></li>
        <li class="med"><a routerLink="/about-us">ABOUT US</a></li>
        <li class="med dropdown">
          <a routerLink="/recipe-list" class="dropbtn">
            RECIPE LIST <i class="fa-solid fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a routerLink="/recipe-list/#">CAKE & OCCASIONS</a>
            <a routerLink="/recipe-list/#">DESSERT & VEGAN</a>
            <a routerLink="/recipe-list/#">CAKE & SEASONS</a>
            <a routerLink="/recipe-list/#">CUPCAKE</a>
          </div>
        </li>
        <li class="med dropdown">
          <a routerLink="/blog" class="dropbtn">
            BLOG <i class="fa-solid fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a routerLink="/blog/#">LIFESTYLE</a>
            <a routerLink="/blog/#">BAKING TIPS</a>
            <a routerLink="/blog/#">CAKE DIARY</a>
            <a routerLink="/blog/#">INSPIRATION</a>
          </div>
        </li>
        <li class="med"><a routerLink="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="main section">
  <router-outlet></router-outlet>
</section>

<footer class="section footer">
  <div class="container">
    <div class="row footer-content">
      <div class="brief col-4">
        <img src="assets/img/logo2.svg"/>
        <p>"Every person is unique, why shouldn’t their cake be?<br>
          CAKE LOVERS are here to bake your uniqueness!!"</p>
      </div>
      <div class="explore col-2">
        <p class="med">Explore</p>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/recipe-list">Recipe list</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact-us">Contact us</a></li>
        </ul>
      </div>
      <div class="help col-2">
        <div class="help-top">
          <p class="med">Need help?</p>
          <ul>
            <li><a routerLink="/contact-us">Q&A</a></li>
            <li><a routerLink="/contact-us">FQAs</a></li>
          </ul>
        </div>
        <div class="help-bottom">
          <p class="med">Follow us</p><br>
          <ul class="flex">
            <li><a href="https://www.facebook.com/thefiveseasoncake"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
            <li class="tpl2"><a href="https://www.instagram.com/thefiveseasoncake"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
            <li><a href="https://www.pinterest.com/thefiveseasoncake"><i class="fa-brands fa-pinterest fa-xl"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="newsletter col-4">
        <p class="med">Sign up for newsletter</p>
        <form name="myFormBottom" action="#" onsubmit="return validateFormBottom()" method="post">
          <input type="email" name="emailBottom" placeholder="Email address">
          <button type="submit" class="btn btn-sm btn-sc">Submit</button>
        </form>
      </div>
    </div>
    <div class="line"></div>
    <div class="copyright">
      <p>COPYRIGHT © 2022 · THE FIVE SEASON CAKE</p>
    </div>
  </div>
</footer>
