<div class="banner">
    <h1 class="hi">The Season Blog</h1>
    <h5>A Place Of Inspiration</h5>
</div>
<div class="container">
    <!--BLOG CART-->
    <div class="blog-cart">
        <p class="sort">Sort by: Recently update</p>
        <div class="row">
            <div class="col-3 nav-blog">
                <ul>
                    <li class="med first"><a routerLink="/blog">ALL</a></li>
                    <li class="med"><a routerLink="/blog/">LIFESTYLE</a></li>
                    <li class="med"><a routerLink="/blog/">BAKING TIPS</a></li>
                    <li class="med"><a routerLink="/blog/">CAKE DIARY</a></li>
                    <li class="med"><a routerLink="/blog/">INSPIRATION</a></li>
                </ul>
            </div>
            <div class="col-9 blog-cart-ar">
                <div class="blog-row1 row">
                    <div class="col-4 ar-left ar-n1"><a routerLink="/detail">
                        <img src="assets/img/blog1.jpg"/>
                        <p class="time">Published Sep 23, 2022</p>
                        <p class="med">Let the dough rise the first time undisturbed by drafts. Never use a dry
                            or moist cotton cloth to cover the dough as it wicks the moisture out of the dough.</p>
                    </a></div>
                    <div class="col-4 ar-cen ar-n2"><a routerLink="/detail">
                        <img src="assets/img/blog2.jpg"/>
                        <p class="time">Published Sep 19, 2022</p>
                        <p class="med">If the recipe you have gives ounces, hundredths of pounds or gram weights,
                            use them. You will be amazed at the consistency of your products. </p>
                    </a></div>
                    <div class="col-4 ar-right ar-n3"><a routerLink="/detail">
                        <img src="assets/img/blog3.jpg"/>
                        <p class="time">Published Sep 13, 2022</p>
                        <p class="med">Walnut Cake! What a wonderful cake! Walnut Cake is a delicious easy recipe.
                            The cake is so soft and fluffy! Recipe also for a lovely vanilla frosting. </p>
                    </a></div>
                </div>
                <div class="blog-row2 row">
                    <div class="col-4 ar-left ar-n3"><a routerLink="/detail">
                        <img src="assets/img/blog4.jpg"/>
                        <p class="time">Published Sep 9, 2022</p>
                        <p class="med">Chocolate muffins made with cocoa and chocolate chips are full of
                            chocolaty goodness! A little plain yogurt in the batter makes them super moist.</p>
                    </a></div>
                    <div class="col-4 ar-cen ar-n4"><a routerLink="/detail">
                        <img src="assets/img/blog5.jpg"/>
                        <p class="time">Published Sep 1, 2022</p>
                        <p class="med">Love Peanut Butter? This Peanut Butter Sheet Cake is a moist sheet cake
                            topped with a gooey peanut butter glaze. Peanut butter lovers, this is your dessert!</p>
                    </a></div>
                    <div class="col-4 ar-right ar-n2"><a routerLink="/detail">
                        <img src="assets/img/blog6.jpg"/>
                        <p class="time">Published Aug 25, 2022</p>
                        <p class="med">Baker Lifestyle creates adaptable and accessible designs with a fresh
                            and pretty style. Collections are filled with witty, whimsical prints, botanical embroideries.</p>
                    </a></div>
                </div>
                <div class="blog-row3 row">
                    <div class="col-4 ar-left ar-n1"><a routerLink="/detail">
                        <img src="assets/img/blog7.jpg"/>
                        <p class="time">Published Aug 19, 2022</p>
                        <p class="med">Start with this rule of thumb: add 1 to 1+¼ teaspoon baking powder
                            (5 to 6.25 mL) for every 1 cup (125 grams or 250 mL) of all-purpose flour.</p>
                    </a></div>
                    <div class="col-4 ar-cen ar-n2"><a routerLink="/detail">
                        <img src="assets/img/blog8.jpg"/>
                        <p class="time">Published Aug 9, 2022</p>
                        <p class="med">Here are 10 extremely successful cake baking tips to help you become a
                            cake master. I guarantee you'll never bake a cake disaster again!</p>
                    </a></div>
                    <div class="col-4 ar-right ar-n3"><a routerLink="/detail">
                        <img src="assets/img/blog9.jpg"/>
                        <p class="time">Published Aug 3, 2022</p>
                        <p class="med">These delicious chocolate chocolate chip cookies are impossible to resist
                            thanks to the addition of cocoa powder and semisweet chocolate chips.</p>
                    </a></div>
                </div>
                <div class="blog-row4 row">
                    <div class="col-4 ar-left ar-n4"><a routerLink="/detail">
                        <img src="assets/img/blog10.jpg"/>
                        <p class="time">Published Jul 29, 2022</p>
                        <p class="med">Kneading dough is as simple as pushing the dough away from you with the
                            heel of your palm, folding it over itself with your fingers, and pulling ...</p>
                    </a></div>
                    <div class="col-4 ar-cen ar-n1"><a routerLink="/detail">
                        <img src="assets/img/blog11.jpg"/>
                        <p class="time">Published Jul 21, 2022</p>
                        <p class="med">Yes, you can let your bread rise overnight in the fridge. Keep in mind,
                            though, you'll want the dough to come back up to room temperature ...</p>
                    </a></div>
                    <div class="col-4 ar-right ar-n3"><a routerLink="/detail">
                        <img src="assets/img/blog12.jpg"/>
                        <p class="time">Published Jul 17, 2022</p>
                        <p class="med">10 steps to the perfect baker's kitchen at home · 1. Start with the
                            kitchen layout · 2. Get the right oven for what you like · 3. Include warming drawers</p>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</div>