<!--SHOWCASE-->
<div class="showcase row">
  <div class="col-6 showcase-left row">
    <div class="col-2"></div>
    <div class="col-8 show-img">
      <!--<img src="assets/img/showcase2.jpg"/>-->
    </div>
    <div class="col-2"></div>
  </div>
  <div class="col-6 showcase-right">
    <div class="showcase-title">
      <h4 class="pri">Making A Cake</h4>
    </div>
    <div class="showcase-content row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3>To Combat Boredom!</h3>
        <p>Tempus, tristique morbi scelerisque sed. Diam nec ut sed est sit in tortor. Blandit consequat
          quisque vitae ornare diam netus tellus. Tempus, tristique morbi scelerisque sed. Diam nec ut sed
          est sit in tortor.</p>
        <div class="row ">
          <div class="col-6 show-img-sm1">
            <img src="assets/img/show1.jpg"/>
          </div>
          <div class="col-6 show-img-sm2">
            <img src="assets/img/show2.jpg"/>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<!--TOP TRENDING-->
<div class="top-trend container row">
    <div class="col-3 trend-content">
        <span class="pri">Top 3 Hottest Topic</span>
        <div class="line"></div>
        <h4>Trending Recipes</h4>
        <p>One of the great aspects of social media is spotting trends faster than ever before.
            If you like to be ahead of the curve when it comes to cake, check out some of the sweetest
            trends we’ve spotted.</p>
    </div>
    <div class="trend-first col-4 trend-img1 ">
        <a routerLink="/detail"><img src="assets/img/trend1.jpg"/></a>
        <div class="trend-title row">
            <div>
                <h1>01/</h1>
            </div>
            <div class="trend-text">
                <span class="med">Dessert</span>
                <a routerLink="/detail">
                    <h6>CHOCOLATE CAKE</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-3 trend-img1">
        <a routerLink="/detail">
            <img src="assets/img/trend2.jpg"/>
        </a>
        <div class="trend-title">
            <h1>02/</h1>
        </div>
    </div>
    <div class="col-2 trend-img1">
        <a routerLink="/detail">
            <img src="assets/img/trend3.jpg"/>
        </a>
        <div class="trend-title">
            <h1>03/</h1>
        </div>
    </div>
</div>

<!--RECENTLY UPDATE-->
<div class="container recently-update">
    <div class="title row">
        <div class="col-2"></div>
        <div class="col-8">
            <h4>Recently Update</h4>
            <div class="line"></div>
            <p>Cake enthusiast? Checked our blog recently? Go on now.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="update">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update1.jpg" alt="croissant" />
              <p class="med">CROISSANT</p>
            </a>
            <span>A croissant is a buttery, flaky, French viennoiserie pastry inspired by the shape of
        the Austrian kipferl but using the French yeast-leavened laminated dough.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update2.jpg" alt="donut" />
              <p class="med">DONUT</p>
            </a>
            <span>A doughnut or donut is a type of food made from leavened fried dough. It is prepared
        in various forms as a sweet snack that can be homemade or purchased in bakeries, supermarkets,
        food stalls, etc.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update3.jpg" alt="chocolate" />
              <p class="med">CHOCOLATE</p>
            </a>
            <span>Chocolate is a food made from roasted and ground cacao seed kernels that is available
        as a liquid, solid, or paste, either on its own or as a flavoring agent in other foods.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update4.jpg" />
              <p class="med">COOKIE</p>
            </a>
            <span>A cookie is a baked or cooked snack or dessert that is typically small, flat and sweet.
        It usually contains flour, sugar, egg, and some type of oil, fat, butter. It may include
        other ingredients such as raisins, oats, nuts, etc.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update5.jpg" />
              <p class="med">CHEESE PLATTER</p>
            </a>
            <span>Cheese is a dairy product produced in wide ranges of flavors, textures, and forms by
        coagulation of the milk protein casein. It comprises proteins and fat from milk,
        usually the milk of cows, buffalo, goats, or sheep.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update6.jpg" />
              <p class="med">CHEESE CAKE</p>
            </a>
            <span>Cheesecake is a sweet dessert consisting of one or more layers. The main, and thickest,
        layer consists of a mixture of a soft, fresh cheese (typically cottage cheese, cream cheese
        or ricotta), eggs, and sugar.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update7.jpg" />
              <p class="med">PEACH CAKE</p>
            </a>
            <span>Filled with fresh, ripe peaches, this Peach Cake recipe is the perfect summer treat.
        The cake is soft, light, and moist, and each bite is bursting with flavor from the sweet,
        juicy peaches.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update8.jpg" />
              <p class="med">SPONGE CAKE</p>
            </a>
            <span>Sponge cake is a light cake made with egg whites, flour and sugar, sometimes leavened
        with baking powder. Sponge cakes, leavened with beaten eggs, originated during the Renaissance,
        possibly in Spain.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="cart-cake item">
            <a routerLink="/detail">
              <img src="assets/img/update9.jpg" />
              <p class="med">CHOCOLATE CAKE</p>
            </a>
            <span>Chocolate cake or chocolate gâteau is a cake flavored with melted chocolate, cocoa powder,
        or both. It can also include other ingredients. These include fudge, vanilla creme,
        and other sweeteners.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <a routerLink="/detail">
              <img src="assets/img/update10.jpg" />
              <p class="med">SANDWICH</p>
            </a>
            <span>A sandwich is a food typically consisting of vegetables, sliced cheese or meat, placed on
        or between slices of bread, or more generally any dish wherein bread serves as a container
        or wrapper for another food type.</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <a routerLink="/detail">
              <img src="assets/img/update11.jpg" />
              <p class="med">BRIOCHE</p>
            </a>
            <span>Brioche is a bread of French origin whose high egg and butter content gives it a rich
        and tender crumb. It was described as "light and slightly puffy, more or less fine,
        according to the proportion of butter and eggs".</span>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <a routerLink="/detail">
              <img src="assets/img/update12.jpg" />
              <p class="med">PANNA COTTA</p>
            </a>
            <span>Panna cotta (Italian for "cooked cream") is an Italian dessert of sweetened cream thickened
        with gelatin and molded. The cream may be aromatized with coffee, vanilla, or other flavorings.</span>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
</div>

<!--SPECIAL CAKE-->
<div class="special-cake">
    <div class="container row">
        <div class="col-5 special-img">
            <a routerLink="/recipe-list">
                <img src="assets/img/special.jpg"/>
            </a>
        </div>
        <div class="col"></div>
        <div class="col-6 special-content">
            <span class="med pri">SPECIAL CAKE</span>
            <h4>Happy Cream Day!</h4>
            <p>Celebrate a special occasion by baking one of our stunning cakes. From towering funfetti
                sponges to decadent chocolate bakes, we've got plenty of party inspiration.</p>
            <button type="button" class="btn btn-lg btn-pr">
                <a routerLink="/recipe-list">Explore now</a>
            </button>
        </div>
    </div>
</div>

<!--FOR THIS SEASON-->
<div class="container for-season">
    <div class="title row">
        <div class="col-2"></div>
        <div class="col-8">
            <h4>For This Season</h4>
            <div class="line"></div>
            <p>When the weather turns chilly, you know it’s fall baking season. If you’re looking for
                a new cake recipe, there’s something on this list for autumn occasion. Whether you're,
                we’ve got your fall cake baking covered.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row season-cart">
        <div class="cart-cake cart-md col-3 cart-left">
            <a routerLink="/detail">
                <img src="assets/img/season1.jpg"/>
            </a>
            <p class="sma">Cake&Seasons/ Autumn</p>
            <a routerLink="/detail">
                <p class="med">EARL GREY CAKE</p>
            </a>
            <p>This Earl Grey Cake is perfect for the tea lover in your life! Earl Grey infused cake layers
                paired with a silky vanilla bean buttercream.</p>
        </div>
        <div class="cart-cake cart-md col-3 cart-center">
            <a routerLink="/detail">
                <img src="assets/img/season2.jpg"/>
            </a>
            <p class="sma">Dessert&Vegan/ Autumn</p>
            <a routerLink="/detail">
                <p class="med">MATCHA CAKE</p>
            </a>
            <p>This matcha cake is a light and fluffy sponge cake flavored with matcha power. It's a
                delicious Japanese cake that soft, fluffy, and light as air!</p>
        </div>
        <div class="cart-cake cart-md col-3 cart-center">
            <a routerLink="/detail">
                <img src="assets/img/season3.jpg"/>
            </a>
            <p class="sma">Cake&Seasons/ Autumn</p>
            <a routerLink="/detail">
                <p class="med">PUMPKIN PIE</p>
            </a>
            <p>The one and only pumpkin pie! We make this dessert the perfect ending to a Thanksgiving feast.
                Garnish as desired. Refrigerate leftovers.</p>
        </div>
        <div class="cart-cake cart-md col-3 cart-right">
            <a routerLink="/detail">
                <img src="assets/img/season4.jpg"/>
            </a>
            <p class="sma">Dessert&Vegan/ Autumn</p>
            <a routerLink="/detail">
                <p class="med">NUTELLA CHEESECAKE</p>
            </a>
            <p>This Nutella Cheesecake tastes like it came from a gourmet bakery. It’s decadent, creamy, and
                full of Nutella flavor.</p>
        </div>
    </div>

</div>

<!--SIGN UP FOR EMAIL-->
<div class="container signup row">
    <div class="col-7">
        <img src="assets/img/signup.jpg"/>
    </div>
    <div class="col-5">
        <h5>Sign Up For Email</h5>
        <p>Enter your email address to receive new posts in your inbox, as well as seasonal newsletters with
            extra goodies!</p>
        <form name="myForm">
            <input type="email" name="email" placeholder="Email address" required>
            <button type="submit" class="btn btn-lg btn-sc">Sign up</button>
        </form>
    </div>
</div>

<!--FOLLOW-->
<div class="follow">
    <div class="container row">
        <div class="col-3 follow-left">
            <h5><a href="http://www.instagram.com/thefiveseasoncake">Follow Us On Instagram!</a></h5>
            <div class="line"></div>
            <div class="list-box">
                <a href="http://www.instagram.com/thefiveseasoncake"><img src="assets/img/follow1.jpg"/></a>
            </div>
        </div>
        <div class="col-3 follow-cen">
            <div class="follow2 list-box">
                <a href="http://www.instagram.com/thefiveseasoncake"><img src="assets/img/follow2.jpg"/></a>
            </div>
            <div class="list-box">
                <a href="http://www.instagram.com/thefiveseasoncake"><img src="assets/img/follow3.jpg"/></a>
            </div>
        </div>
        <div class="list-box col-3 follow-cen">
            <a href="http://www.instagram.com/thefiveseasoncake"><img src="assets/img/follow4.jpg"/></a>
        </div>
        <div class="list-box col-3 follow-right">
            <a href="http://www.instagram.com/thefiveseasoncake"><img src="assets/img/follow5.jpg"/></a>
        </div>
    </div>
</div>
