<div class="recipe-list-page container">
  <!--FOUR RECIPE BOX-->
  <div class="recipe-list">
    <div class="recipe-list-box row">
      <!--BOX LEFT-->
      <div class="list-box col-5">
        <a routerLink="/list-occasion">
          <img class="first-box" src="assets/img/list1.jpg"/>
        </a>
        <div class="list-name">
          <h5>Cake&Occasions</h5>
        </div>
      </div>
      <!--BOX CENTER-->
      <div class="list-box col-3">
        <a routerLink="/list-dessert">
          <img src="assets/img/list2.jpg"/>
        </a>
        <div class="list-name">
          <h5>Dessert&Vegan</h5>
        </div>
      </div>
      <!--BOX RIGHT-->
      <div class="two-box col-4">
        <div class="list-box box-top">
          <a routerLink="/list-season">
            <img src="assets/img/list3.jpg"/>
          </a>
          <div class="list-name">
            <h5>Cake&Seasons</h5>
          </div>
        </div>
        <div class="list-box box-bottom">
          <a routerLink="/list-cupcake">
            <img src="assets/img/list4.jpg"/>
          </a>
          <div class="list-name">
            <h5>Cupcake</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--RECENTLY UPDATE-->
  <div class="top-results">
    <h4 class="sec">Recently Update</h4>
    <div class="results-card row">
      <div class="cart-cake cart-md col-3 cart-left">
        <a routerLink="/detail">
          <img src="assets/img/season1.jpg"/>
        </a>
        <p class="sma">Cake&Seasons</p>
        <a routerLink="/detail">
          <p class="med">EARL GREY CAKE</p>
        </a>
        <span>This Earl Grey Cake is perfect for the tea lover in your life! Earl Grey infused cake layers
                            paired with a silky vanilla bean buttercream.</span>
      </div>
      <div class="cart-cake cart-md col-3 cart-center">
        <a routerLink="/detail">
          <img src="assets/img/season2.jpg"/>
        </a>
        <p class="sma">Dessert&Vegan</p>
        <a routerLink="/detail">
          <p class="med">MATCHA CAKE</p>
        </a>
        <span>This matcha cake is a light and fluffy sponge cake flavored with matcha power. It's a
                            delicious Japanese cake that soft, fluffy, and light as air!</span>
      </div>
      <div class="cart-cake cart-md col-3 cart-center">
        <a routerLink="/detail">
          <img src="assets/img/season3.jpg"/>
        </a>
        <p class="sma">Cake&Seasons</p>
        <a routerLink="/detail">
          <p class="med">PUMPKIN PIE</p>
        </a>
        <span>The one and only pumpkin pie! We make this dessert the perfect ending to a Thanksgiving feast.
                            Garnish as desired. Refrigerate leftovers.</span>
      </div>
      <div class="cart-cake cart-md col-3 cart-right">
        <a routerLink="/detail">
          <img src="assets/img/season4.jpg"/>
        </a>
        <p class="sma">Dessert&Vegan</p>
        <a routerLink="/detail">
          <p class="med">NUTELLA CHEESECAKE</p>
        </a>
        <span>This Nutella Cheesecake tastes like it came from a gourmet bakery. It’s decadent, creamy, and
                            full of Nutella flavor. It's the best!</span>
      </div>
    </div>
  </div>
  <!--RECIPE CART-->
  <div class="recipe-list-cart">
    <h4 class="sec">All Recipes </h4>
    <div class="list-cart row">
      <div class="col-4 cart-left">
        <div class="cart-cake cart-lg-8">
          <a routerLink="/detail">
            <img src="assets/img/list-cart1.jpg"/>
          </a>
          <p class="sma">Cake&Occasions</p>
          <a routerLink="/detail">
            <p class="med">CHOCOLATE CAKE</p>
          </a>
          <p>Chocolate cake or chocolate gateau is a cake flavored with melted chocolate, cocoa powder,
            or both. It can also include other ingredients. These include fudge, vanilla creme,
            and other sweeteners.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart2.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">PANOFFEE PIE</p>
          </a>
          <p>A popular English dessert, banoffee pie is the ultimate hybrid. Banana and toffee
            (hence the name, banana + toffee = banoffee) combine with a buttery biscuit base
            and whipped cream.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart3.jpg"/>
          </a>
          <p class="sma">Cake&Seasons</p>
          <a routerLink="/detail">
            <p class="med">TANGERINE CAKE</p>
          </a>
          <p>Greek Yogurt Tangerine Cake is one of the prettiest cakes around, and easiest, too! It's a
            simple cake made moist with yogurt and olive oil, ...</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart10.jpg"/>
          </a>
          <p class="sma">Cake&Seasons</p>
          <a routerLink="/detail">
            <p class="med">TANGERINE CAKE</p>
          </a>
          <p>Greek Yogurt Tangerine Cake is one of the prettiest cakes around, and easiest, too! It's a
            simple cake made moist with yogurt and olive oil, ...</p>
        </div>
      </div>
      <div class="col-4 cart-center">
        <div class="cart-cake cart-lg-6">
          <a routerLink="/detail">
            <img src="assets/img/list-cart4.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">SPONGE CAKE</p>
          </a>
          <p>Sponge cake is a light cake made with egg whites, flour and sugar, sometimes leavened
            with baking powder. Sponge cakes, leavened with beaten eggs, originated during the Renaissance,
            possibly in Spain.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart5.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">CHOCOLATE TIRAMISU CAKE</p>
          </a>
          <p>Tiramisu (Italian: tiramisù [ˌtiramiˈsu], from tirami su, "pick me up" or "cheer me up")
            is a coffee-flavoured Italian dessert. It is made of ladyfingers (savoiardi) dipped in coffee.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart6.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">NO-BAKE PECAN PIE</p>
          </a>
          <p>So it's almost no-bake and completely irresistible. No Holiday dessert table is complete
            with out it! Pecan Cream Pie. It's the best!</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart11.jpg"/>
          </a>
          <p class="sma">Cake&Seasons</p>
          <a routerLink="/detail">
            <p class="med">TANGERINE CAKE</p>
          </a>
          <p>Greek Yogurt Tangerine Cake is one of the prettiest cakes around, and easiest, too! It's a
            simple cake made moist with yogurt and olive oil, ...</p>
        </div>
      </div>
      <div class="col-4 cart-right">
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart7.jpg"/>
          </a>
          <p class="sma">Cake&Seasons</p>
          <a routerLink="/detail">
            <p class="med">BLUEBERRY CAKE</p>
          </a>
          <p>This blueberry cake is bursting with delicious blueberry flavor. It's super light, moist,
            and tender — a great cake to take along to a summer picnic.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-8">
          <a routerLink="/detail">
            <img src="assets/img/list-cart8.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">PANNA COTTA</p>
          </a>
          <p>Panna cotta (Italian for "cooked cream") is an Italian dessert of sweetened cream thickened
            with gelatin and molded. The cream may be aromatized with coffee, vanilla, or other flavorings.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-6">
          <a routerLink="/detail">
            <img src="assets/img/list-cart9.jpg"/>
          </a>
          <p class="sma">Dessert&Vegan</p>
          <a routerLink="/detail">
            <p class="med">DONUT</p>
          </a>
          <p>A doughnut or donut is a type of food made from leavened fried dough. It is prepared
            in various forms as a sweet snack that can be homemade or purchased in bakeries, supermarkets,
            food stalls, etc.</p>
        </div>
        <div class="cart-line line"></div>
        <div class="cart-cake cart-lg-7">
          <a routerLink="/detail">
            <img src="assets/img/list-cart12.jpg"/>
          </a>
          <p class="sma">Cake&Seasons</p>
          <a routerLink="/detail">
            <p class="med">TANGERINE CAKE</p>
          </a>
          <p>Greek Yogurt Tangerine Cake is one of the prettiest cakes around, and easiest, too! It's a
            simple cake made moist with yogurt and olive oil, ...</p>
        </div>
      </div>
    </div>
    <div class="btn-center">
      <button type="submit" class="btn btn-lg btn-pr" onclick="alert('Loading...')">See More</button>
    </div>
  </div>
</div>
