<div class="recipe-list-page container">
    <!--THREE RECIPE BOX-->
    <div class="recipe-list">
        <div class="recipe-list-box row">
            <!--BOX LEFT-->
            <div class="list-box col-5">
                <a routerLink="/recipe-list">
                    <img class="first-box" src="assets/img/list1.jpg"/>
                </a>
                <div class="list-name">
                    <h5>Cake&Occasions</h5>
                </div>
            </div>
            <!--BOX CENTER-->
            <div class="list-box col-3">
                <a routerLink="/recipe-list">
                    <img src="assets/img/list2.jpg"/>
                </a>
                <div class="list-name">
                    <h5>Dessert&Vegan</h5>
                </div>
            </div>
            <!--BOX RIGHT-->
            <div class="two-box col-4">
                <div class="list-box box-top">
                    <a routerLink="/recipe-list"><img src="assets/img/list3.jpg"/></a>
                    <div class="list-name"><h5>Cake&Seasons</h5></div>
                </div>
                <div class="list-box box-bottom">
                    <a routerLink="/recipe-list"><img src="assets/img/list4.jpg"/></a>
                    <div class="list-name"><h5>Cupcake</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!--RECIPE CART-->
    <div class="recipe-list-cart">
        <div class="top-line line"></div>
        <p class="recap">Cakes are all the sweeter when shared with loving companions. 150+ and more Cake Recipes
            for all our lovers!!</p>
        <div class="list-cart row">
            <div class="col-4 cart-left">
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail"><img src="assets/img/list-cart1.jpg"/></a>
                    <p class="sma">Cake&Occasions</p>
                    <a routerLink="/detail"><p class="med">CHOCOLATE CAKE</p></a>
                    <p>Chocolate cake or chocolate gateau is a cake flavored with melted chocolate, cocoa powder,
                        or both. It can also include other ingredients. These include fudge, vanilla creme,
                        and other sweeteners.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail"><img src="assets/img/list-cart2.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">PANOFFEE PIE</p></a>
                    <p>A popular English dessert, banoffee pie is the ultimate hybrid. Banana and toffee
                        (hence the name, banana + toffee = banoffee) combine with a buttery biscuit base
                        and whipped cream.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail"><img src="assets/img/list-cart3.jpg"/></a>
                    <p class="sma">Cake&Seasons</p>
                    <a routerLink="/detail"><p class="med">TANGERINE CAKE</p></a>
                    <p>Greek Yogurt Tangerine Cake is one of the prettiest cakes around, and easiest, too! It's a
                        simple cake made moist with yogurt and olive oil, ...</p>
                </div>
            </div>
            <div class="col-4 cart-center">
                <div class="cart-cake cart-lg-6">
                    <a routerLink="/detail"><img src="assets/img/list-cart4.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">SPONGE CAKE</p></a>
                    <p>Sponge cake is a light cake made with egg whites, flour and sugar, sometimes leavened
                        with baking powder. Sponge cakes, leavened with beaten eggs, originated during the Renaissance,
                        possibly in Spain.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail"><img src="assets/img/list-cart5.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">CHOCOLATE TIRAMISU CAKE</p></a>
                    <p>Tiramisu (Italian: tiramisù [ˌtiramiˈsu], from tirami su, "pick me up" or "cheer me up")
                        is a coffee-flavoured Italian dessert. It is made of ladyfingers (savoiardi) dipped in coffee.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail"><img src="assets/img/list-cart6.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">NO-BAKE PECAN PIE</p></a>
                    <p>So it's almost no-bake and completely irresistible. No Holiday dessert table is complete
                        with out it! Pecan Cream Pie. It's the best!</p>
                </div>
            </div>
            <div class="col-4 cart-right">
                <div class="cart-cake cart-lg-7">
                    <a routerLink="/detail"><img src="assets/img/list-cart7.jpg"/></a>
                    <p class="sma">Cake&Seasons</p>
                    <a routerLink="/detail"><p class="med">BLUEBERRY CAKE</p></a>
                    <p>This blueberry cake is bursting with delicious blueberry flavor. It's super light, moist,
                        and tender — a great cake to take along to a summer picnic.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-8">
                    <a routerLink="/detail"><img src="assets/img/list-cart8.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">PANNA COTTA</p></a>
                    <p>Panna cotta (Italian for "cooked cream") is an Italian dessert of sweetened cream thickened
                        with gelatin and molded. The cream may be aromatized with coffee, vanilla, or other flavorings.</p>
                </div>
                <div class="cart-line line"></div>
                <div class="cart-cake cart-lg-6">
                    <a routerLink="/detail"><img src="assets/img/list-cart9.jpg"/></a>
                    <p class="sma">Dessert&Vegan</p>
                    <a routerLink="/detail"><p class="med">DONUT</p></a>
                    <p>A doughnut or donut is a type of food made from leavened fried dough. It is prepared
                        in various forms as a sweet snack that can be homemade or purchased in bakeries, supermarkets,
                        food stalls, etc.</p>
                </div>
            </div>
        </div>
        <div class="btn-center">
            <button type="submit" class="btn btn-lg btn-pr">See More</button>
        </div>
    </div>
</div>